* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    /*background: url(../images/map-bg.jpg) no-repeat center;*/
    font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
    overflow: hidden;
}

.fire-nav-container {
    position: fixed;
    top: 1%;
    left: 0.5%;
    width: 1134px;
    height: 84px;
    z-index: 99;
}

.fire-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    background: url(../images/nav/fire-logo.png) no-repeat center;
    background-size: 100% 100%;
}

.fire-nav-list {
    list-style: none;
    position: absolute;
    width: 58%;
    height: 100%;
    right: 48px;
    top: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
}

.fire-nav-item {
    position: relative;
    flex: 1;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

    .fire-nav-item.nav-active:nth-of-type(1) span {
        background: url(../images/nav/navlist1-active.png) no-repeat top;
    }

    .fire-nav-item.nav-active:nth-of-type(2) span {
        background: url(../images/nav/navlist2-active.png) no-repeat top;
    }

    .fire-nav-item.nav-active:nth-of-type(3) span {
        background: url(../images/nav/navlist3-active.png) no-repeat top;
    }

    .fire-nav-item.nav-active:nth-of-type(4) span {
        background: url(../images/nav/navlist4-active.png) no-repeat top;
    }

    .fire-nav-item.nav-active:nth-of-type(5) span {
        background: url(../images/nav/navlist5-active.png) no-repeat top;
    }

    .fire-nav-item.nav-active:nth-of-type(6) span {
        background: url(../images/nav/navlist6-active.png) no-repeat top;
    }

.item-bg-img {
    display: inline-block;
    width: 84px;
    height: 77px;
    position: absolute;
    background-size: 100% 100%;
    left: 10px;
    top: 7px;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.fire-nav-item:hover {
    cursor: pointer;
}

.fire-nav-item:nth-of-type(1) span {
    background: url(../images/nav/navlist-1.png) no-repeat top;
}

.fire-nav-item:nth-of-type(1):hover span {
    background: url(../images/nav/navlist1-active.png) no-repeat top;
}

.fire-nav-item:nth-of-type(2) span {
    background: url(../images/nav/navlist-2.png) no-repeat top;
}

.fire-nav-item:nth-of-type(2):hover span {
    background: url(../images/nav/navlist2-active.png) no-repeat top;
}

.fire-nav-item:nth-of-type(3) span {
    background: url(../images/nav/navlist-3.png) no-repeat top;
}

.fire-nav-item:nth-of-type(3):hover span {
    background: url(../images/nav/navlist3-active.png) no-repeat top;
}

.fire-nav-item:nth-of-type(4) span {
    background: url(../images/nav/navlist-4.png) no-repeat top;
}

.fire-nav-item:nth-of-type(4):hover span {
    background: url(../images/nav/navlist4-active.png) no-repeat top;
}

.fire-nav-item:nth-of-type(5) span {
    background: url(../images/nav/navlist-5.png) no-repeat top;
}

.fire-nav-item:nth-of-type(5):hover span {
    background: url(../images/nav/navlist5-active.png) no-repeat top;
}

.fire-nav-item:nth-of-type(6) span {
    background: url(../images/nav/navlist-6.png) no-repeat top;
}

.fire-nav-item:nth-of-type(6):hover span {
    background: url(../images/nav/navlist6-active.png) no-repeat top;
}
/*
	    * 导航
		 * */
.fireNav {
    list-style: none;
    position: fixed;
    width: 54px;
    right: 3%;
    margin-left: 502px;
    bottom: 150px;
    overflow: hidden;
}

.fireNavLi {
    position: relative;
    width: 48px;
    height: 48px;
    background: red;
    margin-top: 3px;
    cursor: pointer;
    overflow: hidden;
}

.li1 {
    background: url(../img/sprite.png) 0 0;
}

.li2 {
    background: url(../img/sprite.png) 0 -51px;
}

.li3 {
    background: url(../img/sprite.png) 0 -102px;
}

.li4 {
    background: url(../img/sprite.png) 0 -153px;
}

.li5 {
    background: url(../img/sprite.png) 0 -204px;
}

.li6 {
    background: url(../img/sprite.png) 0 -255px;
}

.li7 {
    background: url(../img/sprite.png) 0 -306px;
}

.fireNavLi a {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 48px;
    font-size: 12px;
    font-weight: 700;
    color: #fff !important;
    border-radius: 3px;
    background-color: #18448e;
    text-decoration: none !important;
    text-align: center;
    -webkit-transform-origin: -50% 50%;
    transform-origin: -50% 50%;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    opacity: 0\9;
    filter: alpha(opacity=0)\9;
}

.fireNavLi:hover a {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
/*
	         路径菜单
	    * */

.PathMenu {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 60px;
    height: 60px;
}

.PathInner {
    position: relative;
    width: 60px;
    height: 60px;
}

    .PathInner .PathItem {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .PathInner a {
        /* position:absolute; */
        display: block;
        /* overflow:hidden; */
        background-position: center;
        background-repeat: no-repeat;
        z-index: 999;
    }

        .PathInner a .item,
        .rotate {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            position: absolute;
        }

    .PathInner .PathMain {
        z-index: 1000;
        position: absolute;
        display: block;
        /* overflow:hidden; */
        background-position: center;
        background-repeat: no-repeat;
        bottom: 0;
        left: 0;
    }

        .PathInner .PathMain .Tmain {
            background-image: url(../images/bg-2x.png);
            width: 60px;
            height: 60px;
        }

            .PathInner .PathMain .Tmain .rotate {
                background-image: url(../images/icon-2x.png);
                -moz-transform: rotate(0deg);
                position: absolute;
                bottom: 0;
                left: 0;
            }

    .PathInner .cover {
        width: 100%;
        height: 100%;
        display: block;
        background: url(../images/bg-hl-2x.png) center no-repeat;
        cursor: pointer;
        *filter: alpha(opacity=0);
        filter: alpha(opacity=0)\0;
        opacity: 0;
        -webkit-transition: opacity .2s ease-out;
        -moz-transition: opacity .2s ease-out;
        -ms-transition: opacity .2s ease-out;
        -o-transition: opacity .2s ease-out;
    }

        .PathInner .cover:hover {
            opacity: 0.2;
            *filter: alpha(opacity=20);
            filter: alpha(opacity=20)\0;
        }

.PathItem .link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url(../images/bg-item-2x.png);
}

    .PathItem .link .item {
        bottom: 0;
        left: 0;
    }

.metaicondetail {
    background: #fff;
    color: #fff;
    border-radius: 6px;
    border: 1px #333 solid;
    min-width: 100px;
    max-width: 300px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    display: none;
    top: -115px;
    left: -22px;
}

    .metaicondetail .inner {
        border: 2px #fff solid;
        border-radius: 6px;
        background: #272727;
        font-size: 14px;
        padding: 5px;
    }

    .metaicondetail span {
        font-family: candara, arail;
        font-size: 18px;
    }

    .metaicondetail s {
        border-color: #333 transparent transparent;
        border-style: solid dashed dashed;
        border-width: 5px;
        clear: both;
        display: inline-block;
        font-size: 0;
        height: 0;
        margin-left: 3px;
        overflow: hidden;
        position: absolute;
        right: 50%;
        top: 44px;
        width: 0;
    }
/*
		 搜索列表
		 * */

.content {
    width: 260px;
    position: fixed;
    top: 120px;
    left: 95px;
    z-index: 999;
}

.filterinput {
    background-color: rgba(249, 244, 244, 0);
    border-radius: 15px;
    width: 90%;
    height: 30px;
    border: thin solid #222;
    text-indent: 0.5em;
    color: #222;
}

.fire-list-content a {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

    .fire-list-content a span.list-point, .fire-list-content a span.list-status {
        display: inline-block;
        height: 100%;
    }

    .fire-list-content a span.list-point {
        width: 80%;
        text-align: left;
        color: #000000;
    }

    .fire-list-content a span.list-status {
        width: 18%;
        text-align: center;
    }

.list-status-ok {
    color: #71C971;
}

.list-status-building {
    color: #36B2D7;
}

.list-status-cancel {
    color: #fe6917;
}

.jquery-accordion-menu,
.jquery-accordion-menu * {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0;
}

.jquery-accordion-menu {
    min-width: 260px;
    float: left;
    position: relative;
    box-shadow: 0 4px 10px #333;
    background: rgba(255,255,255,0.99);
    height: 425px;    
}

.jquery-accordion-menu-header {
    margin-top: 32px;
}

.jquery-accordion-menu .jquery-accordion-menu-footer,
.jquery-accordion-menu .jquery-accordion-menu-header {
    width: 100%;
    height: 0px;
    padding-left: 22px;
    float: left;
    line-height: 50px;
    font-weight: 600;
    color: #f0f0f0;
    background: #414956;
    overflow: hidden;
}

.jquery-accordion-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .jquery-accordion-menu ul li {
        width: 100%;
        display: block;
        float: left;
        position: relative;
    }

        .jquery-accordion-menu ul li a {
            width: 100%;
            padding: 9px 22px;
            float: left;
            text-decoration: none;
            color: #f0f0f0;
            font-size: 13px;
            background: #414956;
            white-space: nowrap;
            position: relative;
            overflow: hidden;
            -o-transition: color .2s linear, background .2s linear;
            -moz-transition: color .2s linear, background .2s linear;
            -webkit-transition: color .2s linear, background .2s linear;
            transition: color .2s linear, background .2s linear;
        }

.jquery-accordion-menu > ul > li.active > a,
.jquery-accordion-menu > ul > li:hover > a {
    color: #fff;
    background: #3b424d;
}

.jquery-accordion-menu > ul > li > a {
    border-bottom: solid 1px #ddd;
}

.jquery-accordion-menu ul li a i {
    width: 34px;
    float: left;
    line-height: 18px;
    font-size: 16px;
    text-align: left;
}

.jquery-accordion-menu .submenu-indicator {
    float: right;
    right: 22px;
    position: absolute;
    line-height: 19px;
    font-size: 20px;
    -o-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator {
    line-height: 16px;
}

.jquery-accordion-menu .submenu-indicator-minus > .submenu-indicator {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.jquery-accordion-menu ul ul.submenu,
.jquery-accordion-menu ul ul.submenu li ul.submenu {
    width: 100%;
    display: none;
    position: static;
}

    .jquery-accordion-menu ul ul.submenu li {
        clear: both;
        width: 100%;
    }

        .jquery-accordion-menu ul ul.submenu li a {
            width: 100%;
            float: left;
            font-size: 11px;
            background: #383838;
            border-top: none;
            position: relative;
            border-left: solid 6px transparent;
            -o-transition: border .2s linear;
            -moz-transition: border .2s linear;
            -webkit-transition: border .2s linear;
            transition: border .2s linear;
        }

        .jquery-accordion-menu ul ul.submenu li:hover > a {
            border-left-color: #414956;
        }

    .jquery-accordion-menu ul ul.submenu > li > a {
        padding-left: 30px;
    }

    .jquery-accordion-menu ul ul.submenu > li > ul.submenu > li > a {
        padding-left: 45px;
    }

    .jquery-accordion-menu ul ul.submenu > li > ul.submenu > li > ul.submenu > li > a {
        padding-left: 60px;
    }

    .jquery-accordion-menu ul li .jquery-accordion-menu-label,
    .jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
        min-width: 20px;
        padding: 1px 2px 1px 1px;
        position: absolute;
        right: 18px;
        top: 14px;
        font-size: 11px;
        font-weight: 800;
        color: #555;
        text-align: center;
        line-height: 18px;
        background: #f0f0f0;
        border-radius: 100%;
    }

    .jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
        top: 12px;
    }

.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.animate-ink {
    -webkit-animation: ripple .5s linear;
    -moz-animation: ripple .5s linear;
    -ms-animation: ripple .5s linear;
    -o-animation: ripple .5s linear;
    animation: ripple .5s linear;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.blue.jquery-accordion-menu .jquery-accordion-menu-footer,
.blue.jquery-accordion-menu .jquery-accordion-menu-header,
.blue.jquery-accordion-menu ul li a {
    background: #4A89DC;
}

.blue.jquery-accordion-menu > ul > li.active > a,
.blue.jquery-accordion-menu > ul > li:hover > a {
    background: #3e82da;
}

.blue.jquery-accordion-menu > ul > li > a {
    border-bottom-color: #3e82da;
}

.blue.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #3e82da;
}

.green.jquery-accordion-menu .jquery-accordion-menu-footer,
.green.jquery-accordion-menu .jquery-accordion-menu-header,
.green.jquery-accordion-menu ul li a {
    background: #03A678;
}

.green.jquery-accordion-menu > ul > li.active > a,
.green.jquery-accordion-menu > ul > li:hover > a {
    background: #049372;
}

.green.jquery-accordion-menu > ul > li > a {
    border-bottom-color: #049372;
}

.green.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #049372;
}

.red.jquery-accordion-menu .jquery-accordion-menu-footer,
.red.jquery-accordion-menu .jquery-accordion-menu-header,
.red.jquery-accordion-menu ul li a {
    background: rgba(255, 255, 255, 0.98);
}

.red.jquery-accordion-menu > ul > li.active > a,
.red.jquery-accordion-menu > ul > li:hover > a {
    background: #f2f2f2;
}

/*.red.jquery-accordion-menu>ul>li>a {
	   	border-bottom-color: rgba(255,255,255,0.3);
	   }*/

.red.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #DA4453;
}

.white.jquery-accordion-menu .jquery-accordion-menu-footer,
.white.jquery-accordion-menu .jquery-accordion-menu-header,
.white.jquery-accordion-menu ul li a {
    background: #fff;
    color: #555;
}

.white.jquery-accordion-menu > ul > li.active > a,
.white.jquery-accordion-menu > ul > li:hover > a {
    background: #f0f0f0;
}

.white.jquery-accordion-menu > ul > li > a {
    border-bottom-color: #f0f0f0;
}

.white.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #f0f0f0;
}

.white.jquery-accordion-menu ul ul.submenu li a {
    color: #f0f0f0;
}

.white.jquery-accordion-menu > ul > li > a > .ink {
    background: rgba(0, 0, 0, .1);
}

.black.jquery-accordion-menu .jquery-accordion-menu-footer,
.black.jquery-accordion-menu .jquery-accordion-menu-header,
.black.jquery-accordion-menu ul li a {
    background: #292929;
}

.black.jquery-accordion-menu > ul > li.active > a,
.black.jquery-accordion-menu > ul > li:hover > a {
    background: #222;
}

.black.jquery-accordion-menu > ul > li > a {
    border-bottom-color: #222;
}

.black.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #222;
}

.fire-list-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    background: #ef681e;
    color: #FFFFFF;
    z-index: 99;
}

    .fire-list-title span:nth-of-type(1) {
        margin-left: 16px;
        font-size: 14px;
    }

.fire-toggle-btn, .search-toggle {
    position: absolute;
    display: inline-block;
    top: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}

.fire-toggle-btn {
    right: 0;
}

.search-toggle {
    right: 32px;
}

    .fire-toggle-btn i, .search-toggle i {
        font-size: 14px;
        color: #FFFFFF;
    }

    .fire-toggle-btn:hover, .search-toggle:hover {
        cursor: pointer;
        color: #DDDDDD;
    }
/*工具栏*/
.fire-toolbar {
    position: absolute;
    bottom: 16px;
    right: 2%;
    width: 50px;
    height: 50px;
    background: #FD691C;
    z-index: 999;
    border-radius: 25px;
    transition: width 0.2s linear;
    overflow: hidden;
}

    .fire-toolbar._open {
        width: 300px;
    }

        .fire-toolbar._open .toolbar-list li {
            visibility: visible;
        }

    .fire-toolbar .toolbar-list li {
        visibility: hidden;
    }

.toolbar-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
}

.fire-toolbar._open .toolbar-btn i {
    transform: rotate(360deg);
}

.toolbar-btn i {
    position: absolute;
    top: 18px;
    right: 18px;
    transform: rotate(180deg);
    transition: all 0.2s linear;
}

.toolbar-btn:hover {
    cursor: pointer;
}

.toolbar-list {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
    transition: all 0.2s linear;
}

    .toolbar-list li.toolbar-active {
        background: #df5205;
    }

    .toolbar-list li {
        position: relative;
        flex: 1;
        color: #FFFFFF;
        transition: background .2s linear;
    }

        .toolbar-list li:hover {
            cursor: pointer;
            background: #df5205;
        }

        .toolbar-list li:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 16px;
            right: 0;
            top: 17px;
            background: rgba(255,255,255,0.1);
        }
/*登录 退出*/
div.loginers {
    position: fixed;
    top: 1.8%;
    right: 5.3%;
    height: 50px;
    width: 120px;
    z-index: 999;
    text-align: left;
    padding-left: 30px;
    line-height: 50px;
    border-radius: 25px;
    color: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.45);
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s line;
}

    div.loginers i {
        font-size: 18px;
        position: absolute;
        top: 17px;
        right: 20px;
    }

    div.loginers.btn:hover {
        cursor: pointer;
        background: #1ba1ff;
    }

    div.loginers.btn {
        background: #fe6917;
        font-size: 14px;
    }

div._logout-container {
    position: fixed;
    top: 1.8%;
    right: 2%;
    z-index: 999;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s line;
}

span._logout {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 0px 2px 1px #888;
    color: #FFFFFF;
    background: #fe6917;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s line;
}

    span._logout.btn {
        background: #fe6917;
        font-size: 14px;
    }

    span._logout:hover {
        background: #1ba1ff;
        cursor: pointer;
    }

div.pop-tooltip {
    position: absolute;
    display: none;
    top: 55px;
    left: -150px;
    width: 200px;
    height: 80px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 1px #000;
    padding: 8px 16px;
}

    div.pop-tooltip:before {
        content: '';
        position: absolute;
        top: -8px;
        left: 90%;
        right: auto;
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border: 4px solid transparent;
        border-bottom-color: #fff;
    }

div.tooltip-content {
    text-align: center;
    color: #222;
    padding: 8px 0px 16px 8px;
    font-size: 14px;
}

div.tooltip-btn-group {
    text-align: right;
    margin-bottom: 8px;
}

span.toolbtn.btn {
    display: inline-block;
    width: 40px;
    height: 22px;
    font-size: 12px;
    padding: 0 7px;
    text-align: center;
    line-height: 22px;
    border-radius: 4px;
    margin: 0;
    color: #FFFFFF;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s line;
}

span.btn.toolbtn-sure,
div.btn.save-btn {
    background: #108ee9;
}

    span.btn.toolbtn-sure:hover,
    div.btn.save-btn:hover {
        background: #49a9ee;
    }

span.btn.toolbtn-quit,
div.btn.return-btn {
    background: #FCFCFC;
    border: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, .65);
}

    span.btn.toolbtn-quit:hover,
    div.btn.return-btn:hover {
        color: #108ee9;
        border-color: #108ee9;
    }

i.pop-warning {
    color: #ffbf00;
    position: absolute;
    /*line-height: 31px;*/
    top: 21px;
}
/*用户信息*/
/*tabs*/

.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

ul.tabs {
    width: 100%;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0 auto;
}

.tabs li {
    float: left;
}

.tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #222;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Roboto', helveti;
    background: #fff;
    cursor: pointer;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .tabs label:hover {
        top: 0;
    }

[id^=tab]:checked + label {
    background: rgb(254, 106, 24);
    color: white;
    top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}

.tab-content {
    z-index: 2;
    display: none;
    text-align: left;
    overflow: hidden;
    width: 100%;
    height: 250px;
    font-size: 14px;
    line-height: 140%;
    padding-top: 10px;
    background: rgba(255,255,255,0.99);
    padding: 15px;
    color: #222;
    position: absolute;
    top: 46px;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.admin-panel-body {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    background: rgb(254, 106, 25);
    color: #FFFFFF;
    border-radius: 50%;
}

    .admin-panel-body .close-panel {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 30px;
    }

        .admin-panel-body .close-panel i {
            position: absolute;
            top: 30%;
            left: 31%;
            font-size: 14px;
        }

div.admin-msg,
div.admin-password {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

div.admin-password {
    margin: 30px 0;
}

div.admin-msg-line {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-content: center;
}

    div.admin-msg-line div:nth-of-type(1) {
        width: 20%;
        text-align: right;
        margin-right: 20%;
    }

    div.admin-msg-line div:nth-of-type(2) {
        width: 60%;
    }

div.admin-password-line {
    height: 30px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 16px;
}

    div.admin-password-line div {
        width: 20%;
        text-align: right;
        margin-right: 16px;
        line-height: 30px;
    }

    div.admin-password-line input {
        width: 35%;
        border: 1px solid #ccc;
        background: none;
        color: #222;
        border-radius: 3px;
        outline: none;
        padding-left: 8px;
    }

div.admin-password-btn {
    position: absolute;
    right: 34.2%;
    bottom: 18px;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
}

.admin-password-btn .return-btn {
    margin-right: 16px;
}

.admin-password-btn div {
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    display: inline-block;
    float: left;
    border-radius: 3px;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s line;
}

.admin-panel {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 300px;
    z-index: 1000;
    display: none;
    /*overflow: hidden;*/
}

span.close-panel:hover {
    cursor: pointer;
}

    span.close-panel:hover i {
        color: #ddd;
    }
/*表单验证样式*/
div.admin-password-line input.error {
    border: 1px solid red;
}

div.admin-password-line input.valid {
    border: 1px solid green;
}

span.error {
    padding: 1px 0 0 10px;
    font-size: 14px;
    color: #EA5200;
}
/*解决样式冲突*/
.esriPopupWrapper > .content {
    top: 0px !important;
    left: 0px !important;
}

.titlePane {
    background-color:#EF681E !important;
}
.panel-heading{
     background-color:#EF681E !important;
     height: 35px !important;
     padding: 5px 15px !important;
       
}
.panel-heading h4{
      margin-top: 3px !important;
}
.userInforDiv{
    width:200px;
    border-bottom:solid 1px #ccc;
}
