body {
}

body {
    /*background-color: #f5f5f5;*/
    font-family: "Roboto",sans-serif;
    font-size: 1rem;
    padding-bottom: 10px;
}

.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
    color: #0275d8;
    background-color: #fff;
    border-color: #bfb7b7 #bfb7b7 transparent;
    border-bottom: 1px solid #ddd;
}

a {
    color: #55595c;
    text-decoration: none;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #d0d9de;
    max-height: 49px;
}

.btn {
    display: inline-block;
    padding: .25rem .65rem;
    font-size: 0.8rem;
    /*font-weight: 400;
    width: 60px;*/
    /*padding-left: 13px;*/
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.2rem;
}

.form-control {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
    height: 2rem;
}

.select2-container .select2-selection--single {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 130px;
    border-radius: 0.2rem;
}

.select2-search--dropdown .select2-search__field {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    border-radius: 0.2rem;
    height: 30px;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
    border-color: #999 transparent transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    height: 0;
    left: 115px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: -2px;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    font-size:15px !important;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

#psTable td, #psTable th {
    padding: .75rem;
    line-height: 0.8;
    vertical-align: top;
    border-top: 1px solid #d9dfe2;
}

div.dataTables_wrapper div.dataTables_paginate > a{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

div.dataTables_wrapper div.dataTables_paginate > span > a.paginate_button{
    position: relative;
    float: left;    
    text-align:center;
    padding-top:5px;
    width:35px;
    height:36px;
    max-width: 35px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    cursor:pointer;
}

div.dataTables_wrapper div.dataTables_paginate > span > span{
    position: relative;
    float: left;
    text-align:center;
    padding-top:5px;
    width:35px;
    height:36px;
    max-width: 35px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    cursor:pointer;
}

div.dataTables_wrapper div.dataTables_paginate > span > a.current {
    position: relative;
    float: left;
    text-align:center;
    padding-top:5px;
    width:35px;
    height:37px;
    margin-top:-1px;
    max-width: 35px;
    line-height: 1.42857;
    text-decoration: none;
    color: #ddd;
    background-color: #337ab7;
    border: 1px solid #ddd;
    margin-left: -1px;
    cursor:pointer;
}

div.dataTables_wrapper div.dataTables_paginate{
    margin-top: -30px;
    float: right;
}


/*维保统计样式*/
label {
margin-top:4px;
}
.tableDiv {
    width: 49%;
    float: left;
    border: 1px solid #ccc;
    border-radius:5px;
     height:100%;
}
.chartDiv {
     width: 49%;
    border: 1px solid #ccc;
    border-radius:5px;
    float: right;
    height:100%;
}
.col-md-4,.col-md-1,.col-md-2,.col-md-3,.col-md-5,.col-md-6 {
     left: 0px;
     padding: 5px;
    margin-bottom: 0px;
    text-align:center;
}
.col-md-4 {
    width: 25%;
}
.col-md-2 {
    width: 18.75%;
}
.tableContent {
     /*border: 1px solid #888;*/
     height:35px;
     background-color: rgba(243, 184, 155,0.5);
}
.slimscrollDiv {
width:100%;
height:150px;

}
.tableContent_div > p {
        border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 35px;
}
.p_right_border {
    border-right: 0px solid !important;
}
/*头部样式*/ 
.panel_heading{
        height: 38px;
    width: 100%;
    padding-top: 3px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    background-color: #f1f1f1;
}
/*内容样式*/ 
.contain_div {
    height: 330px;
    border: #ddd 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
/*table头部样式*/
.tab_head {
    border-bottom: 1px solid #ccc;
    width: 100%;
   background-color: rgba(243, 184, 155,1);
    height: 35px;
    color: white;
}
/*标题*/
.titleDiv {
    text-align:center;
    width:100%;
    font-size:16px;
    font-weight:600;
        margin-top: 10px;
    margin-bottom: 5px;
}
.statisticsKeyWord {
    margin-left: 250px;
    margin-top: -32px;
    width: 120px;
    height: 25px;
    font-size: 13px;
    border-radius: 10px;
}