
.navbar-toggle {
    border-radius: 0px;
    background-color: rgb(223, 82, 5) !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#wrapper {
    width: 100%;
}

.navbar-toggle:hover {
    background-color: rgb(31, 35, 42) !important;
}


.navbar {
    border-bottom-color: #FD691c !important;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    min-height: 46px !important;
    max-height: 46px !important;
    background-color:  #FD691c;
}

    .navbar .navbar-header {
        border-bottom-color: currentColor;
        border-bottom-width: 0px;
        border-bottom-style: none;
        max-height: 46px !important;
        min-width: 250px;
    }

        .navbar .navbar-header .navbar-brand {
            /*padding: 10px;*/ color: rgb(255, 255, 255);
            text-transform: uppercase;
            font-size: 19px;
            font-weight: 600;
        }

.navbar-brand {
    padding: 0px;
}

.navbar .navbar-header .btn-group .btn {
    border-radius: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.navbar .nav {
    margin: 0px;
    padding: 0px;
}

    .navbar .nav .open a {
        color: rgb(34, 34, 34);
        background-color: transparent !important;
    }

        .navbar .nav .open a:hover {
            background-color: transparent !important;
        }

    .navbar .nav li a:hover {
        background-color: transparent !important;
    }

    .navbar .nav .user-img {
        margin-left: 5px;
        display: inline-block;
    }

.navbar .navbar-top-links.nav {
    margin: 0px;
    padding: 0px;
    min-height: 46px;
}

    .navbar .navbar-top-links.nav li {
        display: inline-block;
    }

        .navbar .navbar-top-links.nav li a {
            color: rgb(68, 68, 68);
            min-height: 45px;
        }

        .navbar .navbar-top-links.nav li.active {
            margin-top: 0px;
            margin-right: 15px;
            background-color: rgb(223, 82, 5);
        }

            .navbar .navbar-top-links.nav li.active i {
                color: rgb(255, 255, 255) !important;
            }

    .navbar .navbar-top-links.nav .dropdown-toggle {
        color: rgb(255, 255, 255);
    }

        .navbar .navbar-top-links.nav .dropdown-toggle:hover {
            color: rgb(7, 52, 43);
        }

    .navbar .navbar-top-links.nav .user.dropdown-toggle img {
        border: 2px solid rgb(12, 98, 81);
        border-image: none;
    }

    .navbar .navbar-top-links.nav .dropdown-menu {
        margin: 0px;
    }

        .navbar .navbar-top-links.nav .dropdown-menu li {
            display: block;
        }

            .navbar .navbar-top-links.nav .dropdown-menu li:not(.divider) {
                padding-top: 5px;
                padding-bottom: 7.5px;
            }

            .navbar .navbar-top-links.nav .dropdown-menu li:last-child {
                margin-right: 0px;
            }

            .navbar .navbar-top-links.nav .dropdown-menu li a {
                padding: 3px 20px;
                min-height: 0px;
            }

                .navbar .navbar-top-links.nav .dropdown-menu li a div {
                    white-space: normal;
                }

            .navbar .navbar-top-links.nav .dropdown-menu li .dropdown-user {
                left: auto;
                right: 0px;
            }

            .navbar .navbar-top-links.nav .dropdown-menu li:hover {
                background-color: rgb(248, 248, 248);
            }

            .navbar .navbar-top-links.nav .dropdown-menu li.divider {
                margin: 0px;
            }

        .navbar .navbar-top-links.nav .dropdown-menu i {
            color: rgb(53, 53, 53);
        }

.navbar-default#menu {
    border-color: rgb(0, 0, 0);
    background-color: rgb(223, 82, 5);
}

#page-wrapper {
    padding: 0px 15px;
    background-color: rgb(242, 244, 248);
}

.sidebar-right {
    display: none;
}

.open.sidebar-right {
    top: 0px;
    height: 100%;
    right: 0px;
    display: block;
    position: fixed;
    z-index: 1001;
    width: 200px;
    background-color: rgb(223, 82, 5);
    margin-top: 46px;
}

    .open.sidebar-right .sidebar-title {
        padding: 5px 0px;
        color: rgb(153, 153, 153);
        text-transform: uppercase;
        /*font-size: 11px;*/
    }

    .open.sidebar-right .nav-tabs.nav {
        border-bottom-color: currentColor;
        border-bottom-width: 0px;
        border-bottom-style: none;
    }

        .open.sidebar-right .nav-tabs.nav li a {
            border: 0px currentColor;
            border-image: none;
            color: rgb(187, 186, 190);
            margin-right: 0px !important;
            cursor: pointer;
            background-color: rgb(223, 82, 5);
        }

            .open.sidebar-right .nav-tabs.nav li a:hover {
                color: rgb(255, 255, 255);
                background-color: rgb(26, 30, 36);
            }

        .open.sidebar-right .nav-tabs.nav li.active a {
            color: rgb(255, 255, 255);
            background-color: rgb(26, 30, 36);
        }

    .open.sidebar-right .sidebar-right-search input {
        border: 0px currentColor;
        border-image: none;
        height: 30px;
        color: rgb(187, 186, 190);
        font-size: 11px;
        background-color: rgb(26, 30, 36);
    }

    .open.sidebar-right .sidebar-right-search .btn {
        border-width: 0px 0px 0px 2px;
        border-style: none none none solid;
        border-color: currentColor currentColor currentColor rgb(5, 5, 6);
        border-image: none;
        height: 30px;
        color: rgb(187, 186, 190);
        font-size: 11px;
        background-color: rgb(26, 30, 36);
    }

    .open.sidebar-right .chat-list {
        list-style: none;
        padding: 0px;
        color: rgb(170, 171, 174);
    }

        .open.sidebar-right .chat-list li {
            padding: 15px 0px;
            border-top-color: rgb(170, 171, 174);
            border-top-width: 1px;
            border-top-style: dotted;
        }

            .open.sidebar-right .chat-list li strong {
                display: block;
            }

            .open.sidebar-right .chat-list li img {
                width: 28px;
                height: 28px;
            }

                .open.sidebar-right .chat-list li img.success {
                    border: 3px solid rgb(46, 204, 113);
                    border-image: none;
                }

                .open.sidebar-right .chat-list li img.primary {
                    border: 3px solid rgb(5, 5, 6);
                    border-image: none;
                }

                .open.sidebar-right .chat-list li img.info {
                    border: 3px solid rgb(52, 152, 219);
                    border-image: none;
                }

                .open.sidebar-right .chat-list li img.warning {
                    border: 3px solid rgb(245, 171, 53);
                    border-image: none;
                }

                .open.sidebar-right .chat-list li img.danger {
                    border: 3px solid rgb(242, 38, 19);
                    border-image: none;
                }

            .open.sidebar-right .chat-list li .label {
                float: right;
                z-index: 2;
            }

            .open.sidebar-right .chat-list li:hover {
                color: rgb(255, 255, 255);
            }

    .open.sidebar-right .inbox-list {
        list-style: none;
        padding: 0px;
        color: rgb(170, 171, 174);
    }

        .open.sidebar-right .inbox-list li {
            padding: 15px 0px;
            border-top-color: rgb(170, 171, 174);
            border-top-width: 1px;
            border-top-style: dotted;
            cursor: pointer;
        }

            .open.sidebar-right .inbox-list li strong {
                display: block;
            }

            .open.sidebar-right .inbox-list li span {
                display: block;
            }

            .open.sidebar-right .inbox-list li:hover {
                color: rgb(255, 255, 255);
            }

.media-body.selected {
      color: rgb(255, 255, 255);
}


.dropdown-tasks {
    width: 160px;
}

    .dropdown-tasks ::after {
        display: inline-block;
        position: absolute;
    }

    .dropdown-tasks .task-info {
        display: block;
    }

    .dropdown-tasks .task-statistics {
        display: block;
    }

    .dropdown-tasks .divider {
        margin: 0px;
        padding: 0px;
    }

    .dropdown-tasks .dropdown-footer {
        border-radius: 0px 0px 5px 5px;
        margin-top: -9px;
        margin-bottom: -5px;
        border-top-color: rgb(255, 255, 255);
        border-top-width: 1px;
        border-top-style: solid;
        background-clip: padding-box;
        background-color: rgb(239, 239, 239);
        -webkit-background-clip: padding-box;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-top-left-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-topleft: 0;
        -moz-background-clip: padding-box;
    }

        .dropdown-tasks .dropdown-footer a {
            border-radius: 0px 0px 5px 5px;
            background-clip: padding-box;
            background-color: rgb(239, 239, 239);
            -webkit-background-clip: padding-box;
            -webkit-border-top-right-radius: 0;
            -webkit-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-top-left-radius: 0;
            -moz-border-radius-topright: 0;
            -moz-border-radius-bottomright: 5px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-topleft: 0;
            -moz-background-clip: padding-box;
        }

            .dropdown-tasks .dropdown-footer a:hover {
                border-radius: 0px 0px 5px 5px;
                background-clip: padding-box;
                background-color: rgb(239, 239, 239);
                -webkit-background-clip: padding-box;
                -webkit-border-top-right-radius: 0;
                -webkit-border-bottom-right-radius: 5px;
                -webkit-border-bottom-left-radius: 5px;
                -webkit-border-top-left-radius: 0;
                -moz-border-radius-topright: 0;
                -moz-border-radius-bottomright: 5px;
                -moz-border-radius-bottomleft: 5px;
                -moz-border-radius-topleft: 0;
                -moz-background-clip: padding-box;
            }

    .dropdown-tasks .dropdown-header {
        color: rgb(0, 0, 0);
        margin-top: -5px;
        margin-bottom: 0px;
        border-bottom-color: rgb(255, 255, 255);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        background-color: rgb(239, 239, 239);
    }


.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgb(223, 82, 5);
    text-decoration: none;
}

.mega-menu .dropdown-toggle {
    color: rgb(255, 255, 255) !important;
}

.mega-menu .dropdown:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(223, 82, 5);
}

    .mega-menu .dropdown:hover span {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: flipInX;
    }

.trigger-sidebar:hover span {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: flip;
}

@keyframes flip {
    0% {
        animation-timing-function: ease-out;
        transform: perspective(400px) rotateY(0deg);
    }

    40% {
        animation-timing-function: ease-out;
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
    }

    50% {
        animation-timing-function: ease-in;
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    }

    80% {
        animation-timing-function: ease-in;
        transform: perspective(400px) rotateY(360deg) scale(0.95);
    }

    100% {
        animation-timing-function: ease-in;
        transform: perspective(400px) scale(1);
    }
}

@keyframes flipInX {
    0% {
        opacity: 0;
        transform: perspective(400px) rotateX(90deg);
    }

    40% {
        transform: perspective(400px) rotateX(-10deg);
    }

    70% {
        transform: perspective(400px) rotateX(10deg);
    }

    100% {
        opacity: 1;
        transform: perspective(400px) rotateX(0deg);
    }
}

.nav > li > a {
    display: block;
    padding: 13px 15px;
    position: relative;
}

/*按钮*/
.table-no-border td {
    border: medium none !important;
}

.btn {
    border-radius: 0;
}

    .btn.btn-action {
        border: medium none !important;
        color: #848484 !important;
        font-weight: 100;
        outline: 0 none;
    }

        .btn.btn-action:hover, .btn.btn-action:active, .btn.btn-action:visited, .btn.btn-action:focus {
            background-color: #111 !important;
            color: #fff !important;
        }

        .btn.btn-action.btn-warning {
            background-color: #fff;
        }

            .btn.btn-action.btn-warning:hover, .btn.btn-action.btn-warning:active, .btn.btn-action.btn-warning:visited, .btn.btn-action.btn-warning:focus {
                background-color: #f22613 !important;
                color: #fff !important;
            }

    .btn.btn-outline.btn-primary:hover {
        background-color: #fff;
        border: 1px solid #303641;
        color: #303641;
    }

    .btn.btn-outline.btn-success:hover {
        background-color: #fff;
        border: 1px solid #2ecc71;
        color: #2ecc71;
    }

    .btn.btn-outline.btn-danger:hover {
        background-color: #fff;
        border: 1px solid #f22613;
        color: #f22613;
    }

    .btn.btn-outline.btn-warning:hover {
        background-color: #fff;
        border: 1px solid #f5ab35;
        color: #f5ab35;
    }

    .btn.btn-outline.btn-info:hover {
        background-color: #fff;
        border: 1px solid #3498db;
        color: #3498db;
    }

    .btn.btn-outline.btn-inverse:hover {
        background-color: #fff;
        border: 1px solid #111;
        color: #111;
    }

    .btn.btn-circle {
        border-radius: 15px;
        font-size: 12px;
        height: 30px;
        padding: 6px 0;
        text-align: center;
        width: 30px;
    }

        .btn.btn-circle.btn-lg {
            border-radius: 25px;
            font-size: 18px;
            height: 50px;
            padding: 10px 16px;
            width: 50px;
        }

        .btn.btn-circle.btn-xl {
            border-radius: 35px;
            font-size: 24px;
            height: 70px;
            padding: 10px 16px;
            width: 70px;
        }

    .btn.btn-social {
        position: relative;
        text-align: left;
    }

        .btn.btn-social strong {
            font-size: 14px;
        }

        .btn.btn-social i {
            border-right: 1px solid #fff;
            font-size: 18px;
            margin-right: 5px;
            text-align: center;
            width: 30px;
        }

    .btn.btn-social-icon i {
        font-size: 18px;
    }

    .btn.btn-default {
        background-color: #fff;
        border: 1px solid #efefef;
        color: #333;
    }

        .btn.btn-default:hover {
            background-color: #efefef;
        }

    .btn.btn-primary {
        background-color: #303641;
        border-color: #303641;
    }

        .btn.btn-primary:hover {
            background-color: #1f232a;
        }

    .btn.btn-info {
        background-color: #3498db;
        border-color: #3498db;
    }

        .btn.btn-info:hover {
            background-color: #2383c4;
        }

    .btn.btn-success {
        background-color: #18bc9c;
        border-color: #18bc9c;
    }

        .btn.btn-success:hover {
            background-color: #13987e;
        }

    .btn.btn-warning {
        background-color: #f9bf3b;
        border-color: #f9bf3b;
    }

        .btn.btn-warning:hover {
            background-color: #f39c12;
        }

    .btn.btn-danger {
        background-color: #f22613;
        border-color: #f22613;
    }

        .btn.btn-danger:hover {
            background-color: #d91e18;
        }

    .btn.btn-inverse {
        background-color: #111;
        border-color: #111;
        color: #fff;
    }

        .btn.btn-inverse:hover {
            background-color: #000;
        }

.btn-group.btn-group-xs i {
    font-size: 13px;
}

.btn-group .btn {
    border-radius: 0;
}

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #1f232a;
}

.btn-group.open .btn-info.dropdown-toggle {
    background-color: #2383c4;
}

.btn-group.open .btn-success.dropdown-toggle {
    background-color: #13987e;
}

.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #f39c12;
}

.btn-group.open .btn-danger.dropdown-toggle {
    background-color: #d91e18;
}
/*分页*/
.pagination, .pager {
    border-radius: 0;
    margin: 0px;
}

    .pagination li a, .pager li a {
        background-color: #efefef;
        border: 1px solid #fff;
        color: #666;
    }

        .pagination li a:hover, .pager li a:hover {
            background-color: #1bd3af;
            color: #fff;
        }

    .pagination li:first-child a, .pager li:first-child a, .pagination li:last-child a, .pager li:last-child a {
        border-radius: 0;
    }

    .pagination li.active a, .pager li.active a {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #18bc9c;
        border-color: #128f76 #18bc9c #18bc9c;
        border-image: none;
        border-right: 1px solid #18bc9c;
        border-style: solid;
        border-width: 1px;
        color: #fff;
        font-weight: bold;
    }

        .pagination li.active a:hover, .pager li.active a:hover, .pagination li.active a:focus, .pager li.active a:focus {
            background-color: #18bc9c;
            border: 1px solid #18bc9c;
        }

.paging_full_numbers {
    text-align: right;
}



.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
}

.panel .panel-heading {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 25px;
}

/*panel样式**/
.panel.panel-blockquote.panel-border-success.top {
    border-top: 3px solid #2ecc71;
}

.panel-body {
    padding: 2px 5px 0px 14px;
}


    .panel.panel-default .panel-heading {
        background-color: #fff;
        border-bottom: 1px solid #efefef;
        color: #606060;
    }

.panel.panel-info {
    border: 1px solid #efefef;
}

    .panel.panel-info .panel-heading {
        background-color: #3498db;
        border-bottom: 2px solid #196090;
        color: #fff;
    }

.panel.panel-primary {
    border: 1px solid #efefef;
}

    .panel.panel-primary .panel-heading {
        background-color: #303641;
        border-bottom: 2px solid #050506;
        color: #fff;
    }

.panel.panel-success {
    border: 1px solid #efefef;
}

    .panel.panel-success .panel-heading {
        background-color: #18bc9c;
        border-bottom: 2px solid #0c6251;
        color: #fff;
    }

.panel.panel-warning {
    border: 1px solid #efefef;
}

    .panel.panel-warning .panel-heading {
        background-color: #f9bf3b;
        border-bottom: 2px solid #c88d06;
        color: #fff;
    }

.panel.panel-danger {
    border: 1px solid #efefef;
}

    .panel.panel-danger .panel-heading {
        background-color: #f22613;
        border-bottom: 2px solid #971408;
        color: #fff;
    }

.panel .panel-menu {
    float: right;
    font-weight: 100;
    right: 30px;
    top: 8px;
}

    .panel .panel-menu .dropdown-menu {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #3498db #e5e5e5 #e5e5e5;
        border-image: none;
        border-radius: 5px !important;
        border-right: 1px solid #e5e5e5;
        border-style: solid;
        border-width: 2px 1px 1px;
        font-size: 12px;
        left: auto;
        right: 0;
    }

        .panel .panel-menu .dropdown-menu .divider {
            margin: 5px 0;
        }

        .panel .panel-menu .dropdown-menu li a {
            color: #5e656b;
            padding: 5px 10px;
        }

            .panel .panel-menu .dropdown-menu li a i {
                color: #5e656b;
                margin-right: 5px;
            }

            .panel .panel-menu .dropdown-menu li a:hover {
                background-color: #e5e5e5 !important;
                color: #fff;
            }

                .panel .panel-menu .dropdown-menu li a:hover i {
                    color: #fff;
                }

.panel.panel-blockquote.panel-border-primary.left {
    border-left: 3px solid #303641;
}

.panel.panel-blockquote.panel-border-primary.right {
    border-right: 3px solid #303641;
}

.panel.panel-blockquote.panel-border-primary.top {
    border-top: 3px solid #303641;
}

.panel.panel-blockquote.panel-border-primary.bottom {
    border-bottom: 3px solid #303641;
}

.panel.panel-blockquote.panel-border-info.left {
    border-left: 3px solid #3498db;
}

.panel.panel-blockquote.panel-border-info.right {
    border-right: 3px solid #3498db;
}

.panel.panel-blockquote.panel-border-info.top {
    border-top: 3px solid #3498db;
}

.panel.panel-blockquote.panel-border-info.bottom {
    border-bottom: 3px solid #3498db;
}

.panel.panel-blockquote.panel-border-success.left {
    border-left: 3px solid #2ecc71;
}

.panel.panel-blockquote.panel-border-success.right {
    border-right: 3px solid #2ecc71;
}

.panel.panel-blockquote.panel-border-success.top {
    border-top: 3px solid #2ecc71;
}

.panel.panel-blockquote.panel-border-success.bottom {
    border-bottom: 3px solid #2ecc71;
}

.panel.panel-blockquote.panel-border-warning.left {
    border-left: 3px solid #f5ab35;
}

.panel.panel-blockquote.panel-border-warning.right {
    border-right: 3px solid #f5ab35;
}

.panel.panel-blockquote.panel-border-warning.top {
    border-top: 3px solid #f5ab35;
}

.panel.panel-blockquote.panel-border-warning.bottom {
    border-bottom: 3px solid #f5ab35;
}

.panel.panel-blockquote.panel-border-danger.left {
    border-left: 3px solid #f22613;
}

.panel.panel-blockquote.panel-border-danger.right {
    border-right: 3px solid #f22613;
}

.panel.panel-blockquote.panel-border-danger.top {
    border-top: 3px solid #f22613;
}

.panel.panel-blockquote.panel-border-danger.bottom {
    border-bottom: 3px solid #f22613;
}

.panel.panel-rounded {
    border-radius: 10px;
}

    .panel.panel-rounded .panel-heading {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

.panel.panel-square {
    border-radius: 0;
}

    .panel.panel-square .panel-heading {
        border-radius: 0;
    }
.jsPanel {
    z-index: 1000;
}
.panel.panel-blockquote {
    border: 1px solid #18bc9c;
}
.inner-all {
    padding: 10px;
    position: relative;
}